body > section.services {
  padding-bottom: 15px;
}
body > section.services hr {
  width: 100%;
  margin: 0 auto;
}
body > section.services > h2 {
  text-align: center;
}
body > section.services > div header {
  font-weight: bold;
  font-size: 1.4em;
}
body > section.services > div > section {
  padding: 10px 30px;
}
