@import url("Controls/header.css");
@import url("Controls/footer.css");

/*ONLY USE THE LESS FILE - DONT USE THE CSS FILE DIRECTLY*/

#header-nav{
    color: red;

    .otherclass{
        color: black;
    }
}

// .img-responsive {
//   margin-top: 40px;
//   width: 100%;
// }

body .header{
   background: linear-gradient(to right, #042f54, #666);
   /*background-image: url("../images/header-background2.jpg");*/
  //  opacity: 0.7;
   margin-top: 0;
}
 

// body #company-name {
//   text-align: left;
//   margin-top: 20px;
// }

body #side-line{
  width: 2px;
  height: 150px;
}

nav{
  background-color: #f3f3f3;
}

nav ul li {
  display: inline;
  color: #666;
  padding: 16px;
  // text-shadow: 1px 1px black;

}

#services{
  background-color: #f3f3f3;
}

#services hr{
  width: 50%;
  align-self: center;
  background-color: #666;
}

.services .servicesSectionHeader p {
  font-size: 2em;
  text-align: center;
}

#interior, #interiorservices{
  text-align: center;
}

#exterior, #exteriorservices{
  text-align: center;
}

#about-us{
  background-color: #f3f3f3;
}

a:active,
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}

#message {
height: 85px;
}