//Define global variables
@sectionHeaderFontSize: 3rem;
@subSectionHeaderFontSize: 2rem;
        
body{
    .container {
        @sectionBorder: 1px solid gray;
        @defaultMarginSpacing: 10px;

        // Jumbotron section styles
        .jumbotron {
            border: @sectionBorder;
            border-radius: 0;
            margin-bottom: @defaultMarginSpacing;

            .jumbotronImage {
                width: 90%;
                display: block;
                margin: 0 auto;
            }

            .jumbotronText {
                margin-top: @defaultMarginSpacing;
                display: block;
                text-align: center;
            }
        }

        //Services section
        
        .services {
            border: @sectionBorder;
            margin-bottom: @defaultMarginSpacing;
            
            padding: @defaultMarginSpacing;

            .servicesSectionHeader {
                font-size: @sectionHeaderFontSize;
                text-align: center;
            }

            > hr {
                margin: 0 auto;
            }

            > .servicesContent{                
                overflow: hidden;

                > section {
                    float: left;
                    width: 50%;
                    border: 0;
                    
                    > .servicesSubHeader {
                        font-weight: bold;
                        margin: @defaultMarginSpacing 0;
                        font-size: @subSectionHeaderFontSize;
                    }
                }
            }            
        }


        //About Us section
        .aboutUs {
            border: @sectionBorder;
            margin-bottom: @defaultMarginSpacing;
            padding: @defaultMarginSpacing;

            .aboutUsSectionHeader {
                font-size: @sectionHeaderFontSize;
                text-align: center;
                padding-bottom: @defaultMarginSpacing;
            }
        }
    }

    
}