body .container .jumbotron {
  border: 1px solid gray;
  border-radius: 0;
  margin-bottom: 10px;
}
body .container .jumbotron .jumbotronImage {
  width: 90%;
  display: block;
  margin: 0 auto;
}
body .container .jumbotron .jumbotronText {
  margin-top: 10px;
  display: block;
  text-align: center;
}
body .container .services {
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 10px;
}
body .container .services .servicesSectionHeader {
  font-size: 3rem;
  text-align: center;
}
body .container .services > hr {
  margin: 0 auto;
}
body .container .services > .servicesContent {
  overflow: hidden;
}
body .container .services > .servicesContent > section {
  float: left;
  width: 50%;
  border: 0;
}
body .container .services > .servicesContent > section > .servicesSubHeader {
  font-weight: bold;
  margin: 10px 0;
  font-size: 2rem;
}
body .container .aboutUs {
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 10px;
}
body .container .aboutUs .aboutUsSectionHeader {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 10px;
}
.img-centered {
  margin-left: auto;
  margin-right: auto;
}
#textures {
  margin-top: 95px;
}
#textures > h3 {
  text-align: center;
}
#services .services-item {
  margin: 0 0 15px;
  right: 0;
}
#services .services-item .services-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#services .services-item .services-link .services-hover {
  background: rgba(102, 102, 102, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#services .services-item .services-link .services-hover:hover {
  opacity: 1;
}
#services .services-item .services-link .services-hover .services-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#services .services-item .services-link .services-hover .services-hover-content i {
  margin-top: -12px;
  font-size: 2.7em;
}
#services .services-item .services-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#services * {
  z-index: 2;
}
@media (min-width: 767px) {
  #services .services-item {
    margin: 0 0 30px;
  }
}
.services-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.services-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.services-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.services-modal .modal-content p {
  margin-bottom: 30px;
}
.services-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-style: italic;
  font-size: 16px;
}
.services-modal .modal-content img {
  margin-bottom: 30px;
}
.services-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.services-modal .close-modal:hover {
  opacity: 0.3;
}
.services-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #666;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.services-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #666;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.services-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
