body .container .jumbotron {
  border: 1px solid gray;
  border-radius: 0;
  margin-bottom: 10px;
}
body .container .jumbotron .jumbotronImage {
  width: 90%;
  display: block;
  margin: 0 auto;
}
body .container .jumbotron .jumbotronText {
  margin-top: 10px;
  display: block;
  text-align: center;
}
body .container .services {
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 10px;
}
body .container .services .servicesSectionHeader {
  font-size: 3rem;
  text-align: center;
}
body .container .services > hr {
  margin: 0 auto;
}
body .container .services > .servicesContent {
  overflow: hidden;
}
body .container .services > .servicesContent > section {
  float: left;
  width: 50%;
  border: 0;
}
body .container .services > .servicesContent > section > .servicesSubHeader {
  font-weight: bold;
  margin: 10px 0;
  font-size: 2rem;
}
body .container .aboutUs {
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 10px;
}
body .container .aboutUs .aboutUsSectionHeader {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 10px;
}
