.container .navigation {
  border: 1px solid gray;
  margin: auto;
  margin-bottom: 10px;
  font-size: 3rem;
}
.container .navigation > ul {
  display: block;
  overflow: hidden;
  margin: 10px 0;
  text-align: center;
}
.container .navigation > ul > li {
  width: 50%;
  display: inline-block;
}
.container nav {
  background-color: #f3f3f3;
}
.container nav ul li {
  display: inline;
  color: #666;
  padding: 16px;
}
