body{
    margin-left: 20px;
    margin-right: 20px;
    
}


#header-nav {
    background: url("../images/header-background.jpg");
    height: 200px;
    border: 0;
    border-radius: 0;
    /*padding-left: 15px;
    padding-right:15px;*/

}

#logo-img {
    background: url("../images/logo-image.png");
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    background-repeat: no-repeat;
}

h1 {
    color: black;
    font-size: 3em;
}


